<nav class="nav-bar">
	<ul>
		<li><a href="#">Gmail</a></li>
		<li><a href="#">Images</a></li>
		<li><a href="#"><%= image_tag "icone-menu.png", class: 'icone-menu' %></a></li>
		<li><a href="#" class="btn-connexion">Connexion</a></li>
	</ul>
</nav>

<main>
	<%= image_tag "logo.png", class: 'logo' %>
	<input class="input-text" type="text">
	<%= image_tag "micro.png", class: 'micro' %>
		<div class="btn_search">
			<a href="#">Recherche Google</a>
			<a href="#">J'ai de la chance</a>
		</div>
</main>

<footer>
	<p>France</p>
	<ul>
		<li><a href="#">Publicité</a></li>
		<li><a href="#">Entreprise</a></li>
		<li><a href="#">À propos</a></li>
		<li><a href="#">Info consommateurs</a></li>
		<li><a href="#">Confidentialité</a></li>
		<li><a href="#">Conditions</a></li>
		<li><a href="#">Paramètres</a></li>
	</ul>
</footer>
